
$prycolor:  #0A0A29;
$Seccolor:  #D9D9D9;
$Tercolor: #797586;


// .navbar{
//     background-color: $Seccolor;
// }
// .hero{
//     // background-color: $prycolor;
//   }
//   .herotext{
//       color: #D9D9D9;
//       font-size: 80px;
//       font-family: 'Times New Roman', Times, serif;
//   }
//   .btn{
//       background-color: $Seccolor;
//   }
//   .body{
//     background-color: $prycolor;
//   }
//   .AboutMe{
//     color: #D9D9D9;
//     font-size: 60px;
//     font-family: 'Times New Roman', Times, serif;
//     text-align: center;
//     margin-top: 30px;

//   }
//   .AboutMeText{
//     color: #D9D9D9;
//     font-size: 30px;
//     font-family: 'Times New Roman', Times, serif;
//     text-align: center

//   }
//   .col-form-label{
//       color: #D9D9D9;
//   }